name: CD

on:
  worflow_run:
    worflows: ["CI"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: LoginDockerHub
        run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u "${{secrets.DOCKER_USERNAME}}" --password-stdin

      - name: DockerBuild
        run: docker build -t parkchihoon .

      - name: DockerTag
        run: docker tag parkchihoon ${{secrets.DOCKER_USERNAME}}/parkchihoon:latest

      - name: Push Image
        run: docker push ${{secrets.DOCKER_USERNAME}}/parkchihoon:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_KEY}}
          script: |
            sudo apt-get update || true
            sudo apt-get install -y ca-certificates curl gnupg lsb-release || true
            sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin || true
            curl -fsSL https://get.docker.com -o get-docker.sh || true
            sudo sh get-docker.sh || true
            
            sudo docker pull newclgns4010/parkchihoon:latest || true
            
            sudo docker run -d -p 8005:8000 newclgns4010/parkchihoon
            
            
